.start{
    background-color: #1e3d59;
    color: #f5f0e1;
    padding: 50px;
    margin: 50px;
}
.start a{
    text-decoration: none;
    color: white;
}
.start a:hover{
    color: rgb(199, 199, 199);
}