body{
    background-color: #f5f0e1;
}
.que{
    padding: 15px;
    margin: 0px 20px 20px 20px;
    color: #f5f0e1;
    background-color: #1e3d59;
}
.q{
    color: #f5f0e1;
    padding: 30px;
    margin: 40px;
}
.opt{
    margin: 0px 40px;
    padding: 40px;
    display: flex;
    justify-content: space-around ;
}
.op{
    background-color: #1e3d59;
    color: #f5f0e1;
    padding: 10px 20px;
    margin: 20px;
}
.next{
    color: #f5f0e1;
    background-color: #1e3d59;
    padding: 10px 50px;
}
.ne{
    margin: 40px;
}
.timer{
    color: #f5f0e1;
    background-color: #1e3d59;
    width: 152px;
    padding: 10px;
    margin-top: 30px;
}
